.configure-webapps-container{position:fixed;top:100px;right:12px;z-index:100000;width:320px;height:160px;box-shadow:0 1px 6px rgba(32,33,36,.28);border-color:rgba(223,225,229,0);border-radius:10%;padding:12px 9px}.configure-webapps-container.minimized{width:15px;height:12px;border-color:transparent;padding:2px}.configure-webapps-container .minimize-control{float:right;border:0;outline:0 none}.configure-webapps-container .input-field{border-radius:8px;height:24px;margin:6px auto}
/*
     FILE ARCHIVED ON 02:08:46 Jun 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:22:41 Jun 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  xauthn.chkprivs: 197.345
  load_resource: 55.162
  CDXLines.iter: 21.446 (3)
  LoadShardBlock: 323.044 (3)
  exclusion.robots.policy: 351.465
  cdx.remote: 0.125
  xauthn.identify: 153.719
  PetaboxLoader3.resolve: 134.245 (2)
  captures_list: 724.95
  esindex: 0.017
  PetaboxLoader3.datanode: 224.464 (4)
  exclusion.robots: 351.484
*/