.account-recovery-modal-title-container{position:relative;height:28px}.account-recovery-modal-body-text{margin:12px 0;padding-bottom:24px}.account-recovery-no-button-container,.account-recovery-yes-button-container{margin:12px 0}.account-recovery-modal{min-width:543px}@media (max-width:543px){.account-recovery-modal{padding:0}}.account-recovery-modal .modal-dialog{overflow:auto;padding:0}.account-recovery-modal .modal-dialog .modal-content{border-radius:8px}.account-recovery-modal .modal-dialog .modal-content .modal-header{height:48px}.account-recovery-modal .modal-dialog .modal-content .modal-body{text-align:center}
/*
     FILE ARCHIVED ON 04:13:44 Jun 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:22:41 Jun 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 403.718
  exclusion.robots: 323.647
  exclusion.robots.policy: 323.635
  xauthn.identify: 72.428
  xauthn.chkprivs: 250.962
  RedisCDXSource: 2.08
  esindex: 0.01
  LoadShardBlock: 44.303 (3)
  PetaboxLoader3.datanode: 63.857 (5)
  CDXLines.iter: 23.477 (3)
  load_resource: 104.644 (2)
  PetaboxLoader3.resolve: 69.401
*/