.email-verification-upsell-image{height:142px;background-position:50%;background-size:auto 142px;background-repeat:no-repeat;margin:24px 0;background-image:url(https://web.archive.org/web/20210601020845im_/https://images.rbxcdn.com/1bcca464c2031dbd7afc2f89aef781da-verificationUpsellModal.png)}.change-email-button{margin-top:12px;margin-bottom:12px;font-size:12px;font-weight:200px}.change-email-button,.resend-verification-email-button{background:transparent;border:none;outline:none;text-decoration:underline}.resend-verification-email-button{font-size:16px;font-weight:600;display:block;margin:auto}.resend-button-disabled{opacity:.4}.input-field-error{border:1px solid #f74b52!important}.verification-upsell-modal-input{margin:12px 0}.dark-theme .input-field:focus{border:1px solid}.verification-upsell-title-container{position:relative;height:28px}#contained-modal-title-vcenter{width:100%;text-align:center;position:absolute;top:-4px}.verification-upsell-title-button{background:transparent;border:none;outline:none;position:absolute;z-index:1}.verification-upsell-btn{width:100%;margin-bottom:12px;height:48px}.verification-upsell-text-body{text-align:center;margin-bottom:70px}@media (max-width:543px){.verification-upsell-text-body{margin-bottom:24px}}.modal-error-message{margin-top:-9px;margin-bottom:-9px}@media (max-width:543px){.verification-modal{padding:0}}.verification-modal .modal-dialog{overflow:auto}@media (min-width:543px){.verification-modal .modal-dialog{min-width:540px}}.verification-modal .modal-dialog .modal-content{border-radius:8px}.verification-modal .modal-dialog .modal-content .modal-header{height:48px}.verification-modal .modal-dialog .modal-content .modal-body{margin:0 12px}.verification-android-modal.verification-modal .modal-dialog{height:100vh}.verification-upsell-footer-container{margin:0 12px}body.modal-open{overflow-y:hidden;position:fixed;height:100vh}
/*
     FILE ARCHIVED ON 02:08:45 Jun 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:21:54 Jun 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.19
  load_resource: 549.496 (2)
  CDXLines.iter: 32.157 (3)
  esindex: 0.016
  PetaboxLoader3.resolve: 266.015 (2)
  captures_list: 275.233
  PetaboxLoader3.datanode: 324.66 (5)
  LoadShardBlock: 135.551 (3)
  exclusion.robots: 0.204
  RedisCDXSource: 5.427
*/