.cross-device-login-display-code-modal-title-container{position:relative;height:28px}.cross-device-login-display-code-modal-title-button{background:transparent;border:none;outline:none;position:absolute;z-index:1}.cross-device-login-display-code-modal-image{height:142px;background-position:50%;background-size:auto 142px;background-repeat:no-repeat;margin:12px 0;background-image:url(https://web.archive.org/web/20210601041344im_/https://images.rbxcdn.com/97ece22f2b7d710a8d25196c871af810-lock.png)}.cross-device-login-ph-avatar-image{background-image:url(https://web.archive.org/web/20210601041344im_/https://images.rbxcdn.com/80225aae28d3aaa27ebd933f48538099-ph_avatar.png)}#contained-modal-title-vcenter{width:100%;text-align:center;position:absolute;top:-4px}.cross-device-login-display-code-modal{min-width:543px}@media (max-width:543px){.cross-device-login-display-code-modal{padding:0}}.cross-device-login-display-code-modal .modal-dialog{overflow:auto}.cross-device-login-display-code-modal .modal-dialog .modal-content{border-radius:8px}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-header{height:48px}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body{margin:0 12px;text-align:center}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-device-promp-text,.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-instruction-text{margin:12px 0}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-avatar-thumbnail{border-radius:50%;width:160px;height:160px;vertical-align:text-top}
/*
     FILE ARCHIVED ON 04:13:44 Jun 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:22:42 Jun 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 533.744
  exclusion.robots: 402.137
  exclusion.robots.policy: 402.126
  xauthn.identify: 186.614
  xauthn.chkprivs: 215.227
  RedisCDXSource: 11.754
  esindex: 0.009
  LoadShardBlock: 86.438 (3)
  PetaboxLoader3.datanode: 105.969 (5)
  CDXLines.iter: 19.218 (3)
  load_resource: 86.43 (2)
  PetaboxLoader3.resolve: 35.237
*/