.light-theme .thumbnail-2d-container{border:0;background-color:rgba(0,0,0,.1);border-color:#fff}.dark-theme .thumbnail-2d-container{border:0;background-color:rgba(57,59,61,.5);border-color:#393b3d}thumbnail-2d{float:left;display:block;overflow:hidden}.thumbnail-2d-container{float:left;overflow:hidden;background-size:100%;margin:0}.thumbnail-2d-container img{width:100%;height:100%;transition:opacity .5s ease;opacity:1}.thumbnail-2d-container img.loading{opacity:0}.thumbnail-2d-container.shimmer{display:block;width:100%;height:100%}.thumbnail-2d-container[thumbnail-type=avatarHeadshot]{border:0;padding:0}.thumbnail-2d-container[class*=icon-]{padding-top:100%}.avatar-headshot .thumbnail-2d-container{border-radius:50%}
/*
     FILE ARCHIVED ON 02:08:46 Jun 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:22:41 Jun 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 452.422
  exclusion.robots: 132.485
  exclusion.robots.policy: 132.476
  xauthn.identify: 81.698
  xauthn.chkprivs: 50.562
  RedisCDXSource: 2.821
  esindex: 0.006
  LoadShardBlock: 217.785 (3)
  PetaboxLoader3.datanode: 105.341 (4)
  CDXLines.iter: 35.277 (3)
  load_resource: 143.297
  PetaboxLoader3.resolve: 97.365
*/