.user-tag-header .user-tag-controller{background-size:44px auto;width:22px;height:22px;background-position:0 -66px}.change-alias-feedback-container .text-description{width:90%;width:calc(100% - 40px);float:left}.change-alias-feedback-container .count-down{float:right}
/*
     FILE ARCHIVED ON 08:48:00 Jun 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:22:43 Jun 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1776.442
  exclusion.robots: 765.12
  exclusion.robots.policy: 765.107
  xauthn.identify: 232.122
  xauthn.chkprivs: 532.648
  RedisCDXSource: 6.945
  esindex: 0.013
  LoadShardBlock: 941.278 (3)
  PetaboxLoader3.datanode: 949.75 (4)
  CDXLines.iter: 22.082 (3)
  load_resource: 83.491
  PetaboxLoader3.resolve: 55.164
*/