.profile-stats-container:after,.profile-stats-container:before{content:" ";display:table}.profile-stats-container:after{clear:both}.profile-stats-container .profile-stat{width:50%;float:left;text-align:center}.profile-stats-container .profile-stat .text-label{white-space:nowrap}@media (max-width:991px){.profile-stats-container .profile-stat .text-label{margin:12px 6px}}@media (max-width:767px){.profile-stats-container .profile-stat .text-label{display:inline-block;float:left;margin:0;text-align:left;width:45%}}@media (max-width:767px){.profile-stats-container .profile-stat{width:100%;margin:0 0 12px}.profile-stats-container .profile-stat:after,.profile-stats-container .profile-stat:before{content:" ";display:table}.profile-stats-container .profile-stat:after{clear:both}.profile-stats-container .profile-stat .text-lead{width:45%;display:inline-block;text-align:left;margin:0}}
/*
     FILE ARCHIVED ON 08:48:00 Jun 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:22:41 Jun 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  xauthn.identify: 344.228
  CDXLines.iter: 24.225 (3)
  PetaboxLoader3.datanode: 88.738 (4)
  captures_list: 644.694
  exclusion.robots: 510.549
  RedisCDXSource: 1.309
  exclusion.robots.policy: 510.533
  PetaboxLoader3.resolve: 33.349
  esindex: 0.012
  load_resource: 58.426
  xauthn.chkprivs: 165.581
  LoadShardBlock: 75.697 (3)
*/